
/*!
 * Name: ETCA css
 * Version: 0.1
 * Description: Standardizing css at ey
 * Author: Edward Burmicz
 */
@charset "UTF-8";
/*-----------------------------------------------------------------------------------
    0. Body, titles and Fonts
    1. Fixed heights, general padding and margin options
    2. Tiles and Panels
    3. Grids and Bootstrap overrides
    4. Tables
    5. Buttons
    6. Buttons
    999. Misc

/*


/* --------------- 0 - Body, titles and fonts  --------------- */
body {
    color: #73879C;
    background-color:#F7F7F7;
    /* background: #2A3F54; */
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471
}

body .container.body .right_col {
    background: #F7F7F7;
}


/* USE THIS TO SET THE NAV BAR HEIGHT */
 .nav-md .container.body .col-md-3.left_col {
     min-height: 2560px;
 }

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 10px;
    margin-bottom: 10px
}

h2 {
    font-size: 18px;
    font-weight: 400
}

a {
    color: #5A738E;
    text-decoration: none
}

.page-title {
    width: 100%;
    height: 65px;
    padding: 10px 0
}
.page-title .title_left {
    width: 45%;
    float: left;
    display: block
}
.page-title .title_left h3 {
    margin: 9px 0
}
.page-title .title_right {
    width: 55%;
    float: left;
    display: block
}
.page-title .title_right .pull-right {
    margin: 10px 0
}

.detail a {
    text-decoration: none;
    color: #C0392B;
    border: 1px solid #C0392B;
    padding: 6px 10px 5px;
    font-size: 13px;
    margin-right: 7px
}
.detail {
    margin: 10px 0 10px 0px;
    display: none;
    line-height: 22px;
    height: 150px
}
.detail span {
    margin: 0
}


.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px
}
.x_title .filter {
    width: 40%;
    float: right
}
.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
.x_title h2 small {
    margin-left: 10px
}
.x_title span {
    color: #BDBDBD
}
.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px
}
.x_content h4 {
    font-size: 16px;
    font-weight: 500
}

.tile-stats.sparkline {
    padding: 10px;
    text-align: center
}
.jqstooltip {
    background: #34495E !important;
    width: 30px !important;
    height: 22px !important;
    text-decoration: none
}
.tooltip {
    display: block !important
}

.longText{
height:100%}

.top_tiles .tile h2 {
    font-size: 30px;
    line-height: 30px;
    margin: 3px 0 7px;
    font-weight: bold
}

.panel_toolbox>li>a {
    padding: 5px;
    color: #C5C7CB;
    font-size: 14px
}
.panel_toolbox>li>a:hover {
    background: #F5F7FA
}
.line_30 {
    line-height: 30px
}

@media (max-width: 1200px) {
    .x_title h2 {
        width: 62%;
        font-size: 17px
    }
    .tile,

}
@media (max-width: 1270px) and (min-width: 192px) {
    .x_title h2 small {
        display: none
    }
}

.tile_count .tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px
}
@media (min-width: 992px) {
    .tile_count .tile_stats_count:first-child:before {
        border-left: 0
    }
}
.tile_count .tile_stats_count .count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600
}
@media (min-width: 768px) {
    .tile_count .tile_stats_count .count {
        font-size: 40px
    }
}
@media (min-width: 992px) and (max-width: 1100px) {
    .tile_count .tile_stats_count .count {
        font-size: 30px
    }
}
.tile_count .tile_stats_count span {
    font-size: 12px
}
@media (min-width: 768px) {
    .tile_count .tile_stats_count span {
        font-size: 13px
    }
}
.tile_count .tile_stats_count .count_bottom i {
    width: 12px
}


ul.to_do p {
    margin: 0
}

/* ----------------- 1. Fixed heights, general padding and margin options -----------------  */

.fixed_height_320 {
    height: 320px
}
.fixed_height_390 {
    height: 390px
}
.fixed_height_200 {
    height: 200px
}
.overflow_hidden {
    overflow: hidden
}

.center-margin {
    margin: 0 auto;
    float: none !important
}

.no-padding {
    padding: 0 !important
}

.top_80{
  margin-top:80px;
}

.top_90{
  margin-top:90px;
}

.full-width {
     width:100%;
 }

.full-height{
 height:100%;
 }


/*  ----------------- 2. Tiles and Panels  ----------------- */

.tiles {
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding-top: 5px;
    margin-bottom: 0
}
.tile {
    overflow: hidden
}
.top_tiles {
    margin-bottom: 0
}

.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease
}

.main_content {
    padding: 10px 20px
}

.panel_toolbox {
    float: right;
    min-width: 70px
}
.panel_toolbox>li {
    float: left;
    cursor: pointer
}

.dashboard_divider{
    margin-top:30px;
}

ul.to_do {
    padding: 0
}
ul.to_do li {
    background: #f3f3f3;
    border-radius: 3px;
    position: relative;
    padding: 7px;
    margin-bottom: 5px;
    list-style: none
}

ul.quick-list {
    width: 45%;
    padding-left: 0;
    display: inline-block
}
ul.quick-list li {
    padding-left: 10px;
    list-style: none;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}
ul.quick-list li i {
    padding-right: 10px;
    color: #757679
}

/*  ----------------- 3. Grids and Bootstrap overrides  ----------------- */


@media (min-width: 1500px) {
    .widescreen_expand {
      width:100% !important;
      flex: 0 0 100% !important;
          max-width: 100% !important;
    }
}

@media (max-width: 1499px) {
    .smallscreen_expand {
        width:100% !important;
        flex: 0 0 100% !important;
            max-width: 100% !important;
    }
}

.col-md-55 {
    width: 50%;
    margin-bottom: 10px
}
@media (min-width: 768px) {
    .col-md-55 {
        width: 20%
    }
}
@media (min-width: 992px) {
    .col-md-55 {
        width: 20%
    }
}
@media (min-width: 1200px) {
    .col-md-55 {
        width: 20%
    }
}


.col-md-55,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px
}
.row {
    margin-right: -10px;
    margin-left: -10px
}

.progress-bar-dark {
    background-color: #34495E !important
}
.progress-bar-gray {
    background-color: #BDC3C7 !important
}



/* ----------------- 4. Tables  ----------------- */

table.no-margin .progress {
    margin-bottom: 0
}

@media (min-width: 192px) and (max-width: 1270px) {
    table.tile_info span.right {
        margin-right: 7px;
        float: left
    }
}

/* ----------------- 5. Buttons  ----------------- */

 .ey-button-1{
 background-color: #95cb89;
 /* #c2f9fc; */
 color:white;
 border-color:white;
 margin-bottom: 10px !important;
 /* #7fd1d6; */
 }

 .ey-button-1:hover {
     background-color: #5fa84f;
     color: white;
 }

 .ey-button-2{
     background-color: #336699;
     /* #c2f9fc; */
     color:white;
     border-color:white;
     margin-bottom: 10px !important;
     /* #7fd1d6; */
 }

  .ey-button-2:hover {
      background-color: #154472;
      color: white;
  }

.ey-button-3{
    background-color: #7fd1d6;
    /* #c2f9fc; */
    color:white;
    border-color:white;
    margin-bottom: 10px !important;
    /* #7fd1d6; */
}

.ey-button-3:hover {
    background-color: #66a6aa;
    color: white;
}

.ey-button-4{
    background-color: #f04e3e;
    /* #c2f9fc; */
    color:white;
    border-color:white;
    margin-bottom: 10px !important;
    /* #7fd1d6; */
}

.ey-button-4:hover {
    background-color: #b7362a;
    color: white;
}

.ey-button-1, .ey-button-2, .ey-button-3, .ey-button-4  {
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.active {
    color:black;
}






/* ----------------- 6. Select2 Widgets  ----------------- */
.django-select2 {
      width: 100%;
      height:35px;
}


.select2-container {
width: 100% !important;
padding: 0;
}

.select2-results .select2-highlighted {
    background: green;
    color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
     background-color: #7fd1d6;
     color: white;
}

.dropdown-menu a {
    cursor: pointer
}
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    min-height: 38px
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #73879C;
    padding-top: 5px
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-top: 3px
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px
}
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    margin-top: 2px;
    border: none;
    border-radius: 0;
    padding: 3px 5px
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #ccc
}

/* ----------------- 999. Misc.  ----------------- */

.right-arrow {
    width: 10px;
    float: right;
    font-weight: bold;
    font-size: 20px
}
.accordion .panel {
    margin-bottom: 5px;
    border-radius: 0;
    border-bottom: 1px solid #efefef
}
.accordion .panel-heading {
    background: #F2F5F7;
    padding: 13px;
    width: 100%;
    display: block
}
.accordion .panel:hover {
    background: #F2F5F7
}

.grid_slider .col-md-6 {
    padding: 0 40px
}

.disabledWhite {
background-color: #f7f7f7 !important;
}

@media screen and (max-width: 600px) {
    .user-profile .dropdown-toggle{
        width: 150px;
    }
}
